<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FertiliSense"
        tools:targetApi="31">
        <activity
            android:name=".MaleDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".EventDecorator"
            android:exported="false" />
        <activity
            android:name=".EditPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".DisclaimerContentActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditionContentActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".GlansActivity"
            android:exported="false" />
        <activity
            android:name=".PenisActivity"
            android:exported="false" />
        <activity
            android:name=".DuctusVasDeferensActivity"
            android:exported="false" />
        <activity
            android:name=".ProstrateGlandActivity"
            android:exported="false" />
        <activity
            android:name=".EpididymisActivity"
            android:exported="false" />
        <activity
            android:name=".UrethralOpeningActivity"
            android:exported="false" />
        <activity
            android:name=".TesticlesActivity"
            android:exported="false" />
        <activity
            android:name=".BulbourethralGlandActivity"
            android:exported="false" />
        <activity
            android:name=".SeminalVesicleActivity"
            android:exported="false" />
        <activity
            android:name=".BladderActivity"
            android:exported="false" />
        <activity
            android:name=".MaleReproductiveSystemActivity"
            android:exported="false" />
        <activity
            android:name=".CervixActivity"
            android:exported="false" />
        <activity
            android:name=".VaginaActivity"
            android:exported="false" />
        <activity
            android:name=".OvaryActivity"
            android:exported="false" />
        <activity
            android:name=".PerimetriumActivity"
            android:exported="false" />
        <activity
            android:name=".UterusActivity"
            android:exported="false" />
        <activity
            android:name=".AmpullaActivity"
            android:exported="false" />
        <activity
            android:name=".FimbriaeActivity"
            android:exported="false" />
        <activity
            android:name=".CorpusLuteumActivity"
            android:exported="false" />
        <activity
            android:name=".InfundibulumActivity"
            android:exported="false" />
        <activity
            android:name=".FallopianTubeActivity"
            android:exported="false" />
        <activity
            android:name=".MyometriumActivity"
            android:exported="false" />
        <activity
            android:name=".IsthmusOfUterusActivity"
            android:exported="false" />
        <activity
            android:name=".OvarianLigamentActivity"
            android:exported="false" />
        <activity
            android:name=".IsthmusOfUterineTubeActivity"
            android:exported="false" />
        <activity
            android:name=".EndometriumActivity"
            android:exported="false" />
        <activity
            android:name=".DevelopingFolliclesActivity"
            android:exported="false" />
        <activity
            android:name=".FundusActivity"
            android:exported="false" />
        <activity
            android:name=".FemaleReproductiveSystemActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileActivity" />
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileActivity" />
        </activity>
        <activity
            android:name=".UpdateUserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileActivity" />
        </activity>
        <activity
            android:name=".UploadProfilePictureActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileActivity" />
        </activity>
        <activity
            android:name=".FertiliSenseDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FertiliSenseDashboardActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndCondition"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FileProvider configuration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.fertilisense.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>